@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap);

body {
	text-align: left;
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 100;
	background-color: #141414;
}

.calc {
	display: inline-block;
	color: white;
}

.string > input {
	font-family: inherit;
	font-size: 1.5em;
	display: inline-block;
	margin: 10px;
	height: 30px;
	width: 60%;
}

.string {
	display: inline-block;
	width: 90%;
}	

.string > p {
	display: inline-block;
	width: 40px;
}

.thickness > p {
	font-size: 15px;
	margin: 0px 0px 10px 0px;
	vertical-align: bottom;
}

.result > p {
	font-size: 15px;
	margin: 0px 0px 10px 0px;
	vertical-align: bottom;
}

.calc > select {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5em;
	background-color: white;
} 

.pen, .col {
	width: inherit;
}
@media screen and (min-width: 65px) {
	.triangle {
		width: 0;
		height: 0;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-bottom: 50px solid #555;
	}
}
